# Python
__pycache__/
*.pyc
.venv/
venv/

# Flask
.flaskenv

# dbt
target/
dbt_packages/
dbt_internal_packages/
logs/
dbt/profiles.yml
profiles.yml

# Environment / secrets
.env
*.json
!dbt/dbt_project.yml

# OS
.DS_Store
